* {
    background-color: #839192;
}

a {
    color: black;
    background-color: #BB8FCE;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
}

.recipe {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 650px;
    padding: 10px;
    background: #BB8FCE;
    text-align: center;
}
.card {
    width: 675px;
    height: 535px;
    background-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}